@using myweb.Models
@model List<Giohang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Category","Home")">Category</a></li>
                    <li><a href="@Url.Action("SingleProduct","Home")">Single product</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    <li class="active"><a href="@Url.Action("Giohang", "GioHang")">Cart</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2> YOUR ORDER</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold">
        <td>  ID PRODUCT </td>
        <td> NAME PRODUCT </td>
        <td> IMAGE PRODUCT </td>
        <td> QUANLITY </td>
        <td> PRICE </td>
        <td> TOTAL </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold">
            <td> @item.iMaSP </td>
            <td> @item.sTenSP</td>
            <td><img src="~/Content/images/@item.sAnh" width="250px"></td>
            @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSp = item.iMaSP }))
            {
                <td>
                    @item.iSoluong
                </td>
                <td>@String.Format("{0:0,0}", item.dDongia) </td>
                <td>@String.Format("{0:0,0}", item.dThanhtien) </td>
            }
        </tr>
    }
    <tr style="font-weight: bold; text-align:right; color:red">
        <td colspan="3"> Quality: @ViewBag.Tongsoluong </td>
        <td colspan="3"> Total: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ </td>
    </tr>
    <tr style="font-weight: bold; color:blue; text-align:right ">
        <td colspan="6">
            @Html.ActionLink("RETURN YOUR CART", "Giohang", "GioHang")
        </td>
    </tr>
</table>

<h1 style="text-align:center"> INFORMATION OF YOUR BILL</h1>
@{
    KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Customer's name:</td>
            <td style="font-weight:bold">  @kh.HoTen </td>
        </tr>
        <tr style="height:40px">
            <td> Address:</td>
            <td style="font-weight:bold">  @kh.DiachiKH </td>
        </tr>
        <tr style="height:40px">
            <td> Phone number:</td>
            <td style="font-weight:bold">  @kh.DienthoaiKH </td>
        </tr>
        <tr style="height:40px">
            <td> Amount:</td>
            <td style="font-weight:bold"> @ViewBag.Tongsoluong </td>
        </tr>
        <tr style="height:40px">
            <td> Total</td>
            <td style="font-weight:bold">@String.Format("{0:0,0}", @ViewBag.TongTien) VND</td>
        </tr>
        <tr style="height:40px">
            <td> Date order:</td>
            <td style="font-weight:bold"> @DateTime.Now.ToString("dd/MM/yyyy h:mm tt ") </td>
        </tr>
        <tr style="height:40px">
            <td>Ngày giao hàng:</td>
            <td style="font-weight:bold">@DateTime.Now.AddHours(72).ToString("dd/MM/yyyy")</td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="ACCEPT ORDER" />
            </td>
        </tr>
        <tr style="height:40px">
            <td><h5> Please click THANHTOAN to complete this order</h5></td>
            <td>
                <a href="https://www.baokim.vn/payment/product/version11?business=ntmn.ngocnguyen%40gmail.com&id=&order_description=&product_name=B%C3%B3ng+r%E1%BB%95&product_price=120000&product_quantity=1&total_amount=120000&url_cancel=&url_detail=&url_success="><img src="~/Content/images/thanhtoan.png" width="100px" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn"></a>
            </td>
        </tr>
        
    }
</table>


