@model IEnumerable<myweb.Models.PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Category","Home")">Category</a></li>
                    <li><a href="@Url.Action("SingleProduct","Home")">Single product</a></li>
                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                    <li><a href="#">Cart</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->

<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="/Content/images/Aro_All_Sports_Banner.jpg" alt="Slide" />
                <div class="caption-group">
                    <h2 class="caption title">
                        <span style="color:orangered" class="primary">Sports High <strong>Quality</strong></span>
                    </h2>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Content/images/banner2.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        <span style="color:orangered" class="primary">33% <strong>off</strong></span>
                    </h2>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Content/images/banner3.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        <span style="color:orangered" class="primary"><strong>Nike</strong></span>
                    </h2>
                    <h4 class="caption subtitle">Select Item</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Content/images/banner4.jpg" alt="Slide">
                <div class="caption-group">
                    <h4 style="color:orangered" class="caption subtitle">New & Hot</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->
<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-promo promo1">
                    <i class="fa fa-star"></i>
                    <p>High Quality</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->
<!-- Product in home -->
<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 style="color:orangered" class="section-title">NEW PRODUCTS</h2>
                    <div class="product-carousel">
                        @foreach (var sp in Model)
                        {
                            <div class="single-product">
                                <div class="product-f-image">
                                    <li>
                                        <a href="@Url.Action("SingleProduct", "Home", new { id = sp.MaSP })">
                                            <img alt="@sp.TenSP" src="~/Content/images/@sp.Anh" />
                                        </a>
                                    </li>
                                    <div class="product-hover">
                                        <a href="@Url.Action("ThemGiohang","GioHang",new { @iMaSP = sp.MaSP, @strURL = Request.Url.ToString() })" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="@Url.Action("SingleProduct","Home" ,new { id = sp.MaSP })" class="view-details-link">
                                            <i class="fa fa-link"></i> See details
                                        </a>
                                        <img alt="@sp.TenSP" src="~/Content/images/@sp.Anh" />
                                    </div>
                                </div>
                                <h2>
                                    <a href="@Url.Action("SingleProduct","Home", new { id = sp.MaSP })">
                                        <span>
                                            @sp.TenSP
                                        </span>
                                    </a>
                                </h2>

                                <div class="product-carousel-price">
                                    @sp.Giaban
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        

<!-- End main content area -->
<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="~/Content/images/adidas-trefoil-logo.jpg" alt="">
                        <img src="~/Content/images/asics-logo.gif" alt="">
                        <img src="~/Content/images/fila-logo.gif" alt="">
                        <img src="~/Content/images/new-balance-logo.gif" alt="">
                        <img src="~/Content/images/reebok-logo.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->
