@model IEnumerable<myweb.Models.PRODUCT>
@using PagedList.Mvc;
@model PagedList.PagedList<myweb.Models.PRODUCT>
@{
    ViewBag.Title = "SPBrands";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>PRODUCTS OF BRANDS</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-carousel">
                    @foreach (var sp in Model)
                    {
                        <div class="single-product">
                            <div class="product-f-image">
                                <li>
                                    <a href="@Url.Action("SingleProduct", "Home", new { id = sp.MaSP})">
                                        <img alt="@sp.TenSP" src="~/Content/images/@sp.Anh" width="250px" />
                                    </a>
                                </li>
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>
                            <h2>
                                <a href="single-product.html">
                                    <span>
                                        @sp.TenSP
                                    </span>
                                </a>
                            </h2>

                            <div class="product-carousel-price">
                                <ins>$200.00</ins> <del>$225.00</del>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
    <div class="MenuTrang">

        @Html.PagedListPager(Model, page => Url.Action("Category", new { page = page }))
    </div>





